@import url ('https://fonts.googleapis.com/css2? família=Montserrat:wght@100;400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

html {
	position: relative;
}

body {
	background-color: #1e192c;
}

/* Estilização da area de Navegação */

nav {
	max-width: 100%;
	padding: 20px;
}

.container {
	width: 80%;
	height: 60px;
	margin: 0 auto;
}


.nav-bar {
	width: 100%;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	width: 350px;
	height: 60px;
	display: flex;
	align-items: center;
	
}

.img-logo {
	width: 100%;
	height: 60px;
}


.titulo-logo {
	width: 750px;
	margin-left: 5px;
	padding: 10px;
}

.logo h3 {
	color: #ffffff;
	text-transform: capitalize;
	letter-spacing: .1rem;
}

.logo img {
	width: 100%;
	height: 60px;
}


.menu-nav {
	margin: 5px;
}

.menu-nav ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}


.menu-nav ul li {
	padding: 10px;
}


.menu-nav ul li a {
	text-decoration: none;
	font-size: 14pt;
	text-transform: capitalize;
	color: #ffffff;
	transition: .8s;
	letter-spacing: .1rem;
}


.menu-nav ul li a:hover {
	color: #fa9d31;
}

/* Estilização da area de cabeçalho */

header {
	max-width: 100%;
	height: 100vh;
}



.slide-show {
	width: 95%;
	height: 50vh;
	margin: auto;
	background-color: black;
	overflow: hidden;
}


.slide-show ul {
	width: 300%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	transition: 2s;
	opacity: 50%;
	
	animation: slides 20s infinite;
}


.slide-show ul li {
	width: 100%;
	list-style: none;
}

li img {
	width: 100%;
	height: 50vh;
}


.banner {
	position: absolute;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	top: 4%;
	left: 20%;
}


header .container {
	margin-top: 200px;
}


.banner h1 {
	font-size: 2.5rem;
	letter-spacing: .2rem;
	text-transform: capitalize;
	color: #ffffff;
	text-shadow: 2px 2px #444;
}


.banner p {
	font-size: 18pt;
	color: #ffffff;
	padding: 10px;
	letter-spacing: .2rem;
	text-transform: capitalize;
}

.banner p span {
	color: #fa9d31;
	font-size: 30pt;
}


.saber-mais {
	margin-top: 100px;
	margin-left: 300px;
}


.saber-mais button {
	width: 150px;
	height: 40px;
	border: none;
	background-color: #fa9d31;
	font-size: 14pt;
	color: #ffffff;
	border-radius: 4px;
	text-transform: uppercase;
	cursor: pointer;
}

/* Estilização da area de conteudo principal */

.redes-sociais {
	width: 80%;
	position: absolute;
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: rows;
	align-items: center;
	justify-content: center;
} 


.redes-sociais a {
	text-decoration: none;
	font-size: 18px;
	padding-right: 30px;
	color: #fa9d31;
	transition: 2s;
}

.redes {
	margin-left: 10px;
}


.redes:hover {
	border: 1px solid #1e192c;
}

.redes-sociais i {
	text-decoration: none;
	font-size: 26px;
	padding-right: 10px;
	color: #fa9d31;
}


.redes-sociais a:last-child {
	margin: 0;
}

/* Estilização de sessao historico do curso */

.time-line-container {
	position: relative;
	width: 50%;
	height: 3000px;
	margin: auto;
}



.time-line:before {
	
	content: '';
	position: absolute;
	background-color: #FFFFFF;
	width: 6px;
	height: 100%;
	left: 50%;
	clear-boch:
}





.cabecalho-time-line {
	display: flex;
	flex-direction: column;
	align-items: center;
}


.cabecalho-time-line h2 {
	font-size: 24pt;
	padding: 20px;
	color: #FFFFFF;
}


.cabecalho-time-line h5 {
	font-size: 14pt;
	color: #FFFFFF;
	margin-bottom: 105px;
}


.time-line {
	width: 100%;
	padding: 20px;
}


.time-line ul {
	list-style: none;
	background-color: #292537;
	width: 350px;
	box-shadow: black 0px 5px 15px;
	border-radius: 5px;
}


.time-line ul li {
	padding: 20px;
}


.time-line ul:nth-child(odd) {
	float: left;
	clear: right;
}



.time-line ul:nth-child(even) {
	float: right;
	clear: left;
}



.titulo-time-line {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: end;
	padding: 10px;
}


.titulo-time-line h3, h4 {
	color: #FFFFFF;
}


.time-line h4 {
	font-size: 16pt;
}


.time-line ul li h2 {
	color: #fa9d31;
	font-size: 20px;
	margin-top: 10px;
}


.time-line ul li .titulo-baixo {
	margin-top: 30px;
}



.time-line ul li ol li:last-child {
	border-bottom: 1px solid #FFFFFF;
	padding: 10px;
}



.time-line ul li ol li {
	padding: 5px;
	color: #FFFFFF;
	list-style: none;
}

/* Estilização da sessao de tecnologias aprendidas */

.aprendisagem-container .container {
	width: 100%;
	height: 500px;
	margin: 350px auto 60px 0;
}


.aprendisagem-container .container h2 {
	color: #FFFFFF;
	text-align: center;
	margin-bottom: 20px;
	text-transform: capitalize;
}



.container h5 {
	color: #FFFFFF;
	text-align: center;
	margin-bottom: 50px;
	font-size: 16px;
}


.aprendisagem-container .container h2 span {
	color: #fa9d31;
	font-size: 24pt;
}


.cards-container {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
}


.cards {
	width: 15%;
	margin: 10px;
	cursor: pointer;
	transition: .5s;
	box-shadow: black 0px 10px 15px;
}


.cards:hover {
	background-color: #cccc;
	border-radius: 5px 5px 0 0;
	opacity: 75%;
}


.header-cards {
	width: 100%;
	height: 200px;
}



.header-cards img {
	width: 100%;
	height: 100%;
	position: flex;
	flex-wrap: wrap;
	border-radius: 5px 5px 0 0;
}



.content-cards {
	height: 100px;
	background-color: #FFFFFF;
	padding: 10PX;
	border-radius: 0 0 5px 5px;
}


.barra-progresso {
	width: 90%;
	border: 1px solid #444;
	height: 20px;
	margin-top: 15px;
}


.html {
	height: 100%;
	width: 95%;
	background-color: #e43d13;
}


.css {
	height: 100%;
	width: 80%;
	background-color: #015fa5;
}



.js {
	height: 100%;
	width: 50%;
	background-color: #ff7f00;
}


.title-card {
	padding: 10px 0;
	text-transform: uppercase;
}


.html p, .css p, .js p {
	color: #FFFFFF;
	font-weight: bold;
	text-align: center;
}


.back-end {
	width: 100%;
	height: 200px;
	margin: 50px auto;
}


.back-end h2, h5 {
	color: #FFFFFF;
	text-align: center;
}


.back-end h2 span {
	color: #fa9d31;
	font-size: 24pt;
}


.back-end h5 {
	color: #FFFFFF;
	text-align: center;
	margin-bottom: 50px;
	font-size: 16px;
	padding: 10px;
}


.php {
	height: 100%;
	width: 45%;
	color: #FFFFFF;
	text-align: center;
	background-color: #1e192c;
}

/* Estilização da sessao de sobre autor */
.descicao-autor {
	width: 100%;
	margin: 400px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}


.cabecalho-descricao {
	position: relative;
} 



.cabecalho-descricao h2 {
	color: #FFFFFF;
	text-transform: capitalize;
	padding: 10px;
	font-size: 20pt;
}


.cabecalho-descricao h5 {
	color: #fa9d31;
	text-transform: capitalize;
	padding: 10px;
	font-size: 18pt;
	text-align: left;
}


.cabecalho-descricao p {
	color: #FFFFFF;
	padding: 10px;
	text-align: justify;
	font-size: 14pt;
}



/* Estilização da area de contactos */
#contato {
	width: 100%;
	margin: 500px 0;
}


.titulo-contacto {
	text-align: center;
	padding: 10px;
	margin-bottom: 20px;
	color: #fa9d31;
}


.formulario {
	width: 50%;
	display: flex;
	margin: auto;
	padding: 20px;
	flex-direction: column;
}


.formulario label {
	color: #FFFFFF;
	font-weight: bold;
	margin: 10px 0 0 0;
}


.formulario input {
	width: 75%;
	height: 35px;
	color: #FFFFFF;
	outline: none;
	padding: 0 0 0 20px;
	border-top: none;
	border-left: none;
	border-right: none;
	border-radius: 5px;
	border-color: #fa9d31;
	background: linear-gradient( to left, #3e2f6b, #5f1f7a);
}


.formulario textarea {
	width: 75%;
	outline: none;
	padding: 30px 0 0 20px;
	border-top: none;
	border-left: none;
	border-right: none;
	border-color: #fa9d31;
	color: #ccc;
	background: linear-gradient( to left, #3e2f6b, #5f1f7a);
}


.formulario input[type= 'submit']{
	width: 50%;
	margin-top: 30px;
	cursor: pointer;
	color: #FFFFFF;
	border: none;
	font-size: 16pt;
	background-color: #a022d6;
	display: flex;
	justify-content: center;
	align-items: center;
}



.rotape p {
	text-align: center;
	color: #FFFFFF;
	background-color: 15161b;
}


.rotape {
	width: 100%;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #15161b;
}

@keyframes slides {
	
	0% {margin-left: 0;}
	40% {margin-left: 0;}
	
	45% {margin-left: -100%;}
	70% {margin-left: -100%;}
	
	75% {margin-left: -200%;}
	100% {margin-left: -200%;}
} 


