@import url ('https://fonts.googleapis.com/css2? família=Montserrat:wght@100;400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

html {
	position: relative;
}

/* Estilização da area de Navegação */

nav {
	max-width: 100%;
	padding: 20px;
	border-bottom: 0.2px solid #343c44
}

.container {
	width: 80%;
	height: 60px;
	margin: 0 auto;
}


.nav-bar {
	width: 100%;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	width: 300px;
	height: 60px;
	display: flex;
	align-items: center;
	
}

.img-logo {
	width: 100%;
	height: 60px;
}


.titulo-logo {
	width: 750px;
	margin-left: 5px;
	padding: 10px;
}

.logo h3 {
	color: #2c3838;
	text-transform: capitalize;
}

.logo img {
	width: 100%;
	height: 60px;
}


*.menu-nav {
	margin: 5px;
}

.menu-nav ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}


.menu-nav ul li {
	padding: 10px;
}


.menu-nav ul li a {
	text-decoration: none;
	font-size: 14pt;
	text-transform: capitalize;
	color: #2c3838;
	transition: .8s;
}


.menu-nav ul li a:hover {
	color: #fa9d31;
}

/* Estilização da area de cabeçalho */

header {
	max-width: 100%;
	height: 50vh;
}


.slide-show {
	width: 95%;
	height: 50vh;
	margin: auto;
	overflow: hidden;
}


.slide-show ul {
	width: 300%;
	display: flex;
	align-items: center;
	padding: 0;
	transition: 2s;
	
	animation: slides 20s infinite;
}


.slide-show ul li {
	width: 100%;
	list-style: none;
}

li img {
	width: 100%;
	height: 50vh;
	/*position: relative*/
}


.banner {
	position: absolute;
	top: 40%;
	left: 20%;
}


.banner h1 {
	font-size: 3rem;
	text-transform: capitalize;
	color: #ffffff;
	text-shadow: 2px 2px #444;
}


.banner p {
	font-size: 24pt;
}

@keyframes slides {
	
	0% {margin-left: 0;}
	40% {margin-left: 0;}
	
	45% {margin-left: -100%;}
	70% {margin-left: -100%;}
	
	75% {margin-left: -200%;}
	100% {margin-left: -200%;}
} 


